@import url('styles.css');

@layer components {
    h1 {
        text-align: center;
    }

    button {
        margin: 3px;
    }

    #btn-next {
        margin: auto;
    }

    main {
        margin-top: 5dvh;
    }
    .cards {
        height: fit-content;
        width: fit-content;
    }
}

@layer utilities {
    .cards:hover {
        box-shadow: 0px 0px 100px black;
        transition: none;
        transform: scale(1);
    }

    @media (max-width: 420px) {
        main {
            margin-top: 20dvh;
        }
    }
}