@import url('styles.css');

@layer components {
    h1 { text-align: center; }
    #creator { color: var(--standard-blue); }
    .cards {
        display: grid;
        place-content: center;
        font-size: clamp(16px, 2.5vw, 32px);
    }

}